<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Overview - Book Bind</title>
    <link rel="stylesheet" href="/stylesheets/book.css" />
  </head>
  <body>
    <div id="navbar">
      <div id="navbar__logo">
        <a href="/"><h1>Abhijay</h1></a>
      </div>
    </div>

    <div class="web_intro">
      <div id="webBrief">
        <h1>Overview</h1>
        <p>
          Book Bind is a specialized e-commerce platform designed to automate
          and streamline the sale of bound books. The site integrates with the
          Google Books API, enabling real-time updates of product listings,
          ensuring that customers always see the most current offerings. The
          user interface is designed to be responsive, ensuring a seamless
          browsing experience across devices. By leveraging modern web
          technologies, including React for the frontend, Firebase for backend
          services, and the Google Books API for book data, the site offers a
          visually appealing and functional user experience. It’s designed with
          both users and administrators in mind, providing an easy-to-navigate
          front-end for customers and a robust back-end for managing product
          listings and updates efficiently. Your focus on maintaining an
          up-to-date catalog and ensuring site responsiveness highlights your
          commitment to delivering a high-quality, user-friendly platform for
          book enthusiasts and collectors.
        </p>
      </div>

      <div id="techUsed">
        <h2>Technologies Used</h2>
        <ul>
          <li><strong>React:</strong> For building the user interface.</li>
          <li>
            <strong>Firebase:</strong> For backend services including
            authentication and database management.
          </li>
          <li>
            <strong>Google Books API:</strong> For fetching book data and
            integrating it into the platform.
          </li>
        </ul>
      </div>

      <div id="liveLink">
        <h2>Live Demo</h2>
        <p>
          Check out the live version of the site:
          <a href="https://book-bind-a-book-store.web.app/" target="_blank"
            >Book Bind Live Site</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
