<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Overview - movify</title>
    <link rel="stylesheet" href="/stylesheets/book.css" />
  </head>
  <body>
    <div id="navbar">
      <div id="navbar__logo">
        <a href="/"><h1>Abhijay</h1></a>
      </div>
    </div>

    <div class="web_intro">
      <div id="webBrief">
        <h1>Overview</h1>
        <p>
          Movify 2 is my custom-developed movie streaming platform, inspired by
          Netflix. Using the TMDB movie API, it dynamically fetches and displays
          movie images, banners, and detailed information, creating an engaging
          user experience. The website is designed with a focus on
          responsiveness, ensuring it works seamlessly across all devices, from
          desktops to mobile phones. With a clean and intuitive interface, users
          can easily browse, search, and explore a wide range of movies. Movify
          2 reflects my ability to integrate API-driven content into a
          well-structured and visually appealing platform, showcasing my skills
          in front-end design and back-end development. This project stands as a
          testament to my dedication to creating high-quality, user-centric web
          applications.
        </p>
      </div>

      <div id="techUsed">
        <h2>Technologies Used</h2>
        <ul>
          <li><strong>React:</strong> For building the user interface.</li>
          <li><strong>Firebase:</strong> For hosting</li>
          <li>
            <strong>TMDB movies API:</strong> For fetching movie data and
            integrating it into the platform.
          </li>
        </ul>
      </div>

      <div id="liveLink">
        <h2>Live Demo</h2>
        <p>
          Check out the live version of the site:
          <a href="https://movify-2fc85.web.app/" target="_blank"
            >Movify Live Site</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
